@use 'variables'
  
.mainContainer
  background: variables.$dark-blue
  font-size: 1rem
  min-height: 100vh
  width: 100vw
  overflow: hidden
  @include variables.flex-center

.loginContainer
  @include variables.Indexprofile
  height: 60vh
  & a 
    position: absolute
    top: 0
    height: calc( 100% + 2rem )
    padding: 1rem
  
.main 
  min-height: 100vh
  width: 100vw
  @include variables.flex-center
  background: variables.$gradient-screen
  
.loginForm
  display: flex
  justify-content: center
  gap: 0.5rem
  font-size: 1.2rem
  flex-direction: column
  max-width: 70%
  margin: 4rem auto
  & input
    padding: 0.8rem 1rem
    color: #585858
    background: variables.$lighter-blue
    border-radius: 5px
    border: none
    box-shadow: inset 1px 1px 10px variables.$shadow-grain

.loginBottom
  position: absolute
  width: calc(100vw - 2rem)
  display: flex
  justify-content: flex-end
  align-items: flex-end
  height: 35vh
  bottom: 1rem
  right: 1rem
  & p
    position: absolute
    width: 100%
    text-align: center
    top: 0
    & a 
      text-decoration: none
  & h5
    position: absolute
    width: 100%
    text-align: center
    top: 3rem

.btn
  margin-top: 2rem
  background: variables.$dark-blue
  padding: 0.5rem 1rem
  border: none
  border-radius: 10px
  font-size: 1.2rem
  text-decoration: none

.btnLog
  position: relative
  margin-top: 80%
  width: 70%
  max-height: calc(1ch + 3rem)
  background: variables.$dark-blue
  text-align: center
  padding: 0.5rem
  border-radius: 10px
  font-size: 1.2rem
  text-decoration: none

.blocoClosed
  position: fixed
  top: 0
  left: 0
  animate: closeProfile 400ms ease-in-out
  height: 23vh
  width: 100%
.blocoOpened
  position: absolute
  top: 0
  left: 0
  z-index: 100
  animate: openProfile 400ms ease-in-out
  height: 90vh
  width: 100%

.indexProfile
  @include variables.Indexprofile
  overflow: hidden
  height: 100%
  display: flex
  justify-content: space-between
  align-items: flex-start
  padding: 2rem
  gap: 1rem
  padding-inline: 1.5rem
  box-shadow: 2px 0 20px 3px variables.$shadow-grain

.pImage
  width: 100%
  border-radius: 50%

.options
  display: flex
  gap: 1.5rem
  & .amountClose
    @include variables.amount
    padding-left: 2rem
  & .amountOpen
    @include variables.amount
    padding-left: 1rem
    font-size: 2rem
    align-items: center
  
@keyframes openProfile 
  0%
    position: fixed
    z-index: 200
    height: 23vh
  100%
    position: absolute
    z-index: 200
    height: 90vh
@keyframes closeProfile 
  0%
    position: absolute
    z-index: 200
    height: 90vh
  100%
    position: fixed
    z-index: 200
    height: 23vh

@mixin lil
  position: absolute
  background: variables.$dark-blue
  border-radius: 50px
  width: 80vw
  padding: 0.5rem 1rem
  font-size: 1.2rem
  left: 2rem
  box-shadow: inset 1px 1px 10px #060c1dd7
  & .lilcontainer
    display: flex
    justify-content: space-between
    align-items: center

.lilcard1
  @include lil
  top: 30vh
.lilcard2
  @include lil
  top: 40vh
.lilcard3
  @include lil
  top: 50vh
.lilcard4
  @include lil
  top: 60vh
.lilcard5
  @include lil
  top: 70vh
.lilcard6
  @include lil
  text-align: center
  text-decoration: none
  top: 80vh
  &:active
    filter: brightness(0.8)
  

.areaContainer
  position: absolute
  bottom: 0
  left: -0.5rem
  width: 100vw
  height: 65vh
  overflow: hidden
  display: flex
  flex-flow: row-reverse
  gap: 0.5rem
  align-items: center
  & .blockArea
    width: calc(100% - 2.5rem)
    height: 100%
    border-radius: 0 20px 0 0
    background: variables.$secondary-neutral
    box-shadow: 0 3px 20px 3px variables.$shadow-grain
    & .functions
      cursor: pointer
      padding: 1rem
      display: flex
      justify-content: space-around
      & .functionBtnOff
        @include variables.functionBtn(nameAnimationOff)
      & .functionBtnIn
        @include variables.functionBtn(nameAnimationIn)
        
    & .searchForm
      margin-top: 1rem
      display: flex
      justify-content: space-between
      padding-inline: 1rem
      gap: 0.5rem
      font-size: 1.2rem
      & input
        flex: 1
        padding: 0.5rem 1rem
        color: #585858
        background: variables.$lighter-blue
        border-radius: 5px
        border: none
  & .blur
    @include variables.blur(100px)
    background: variables.$gradient-blur
    bottom: 0
  & .blurtop
    @include variables.blur(65px)
    background: variables.$gradient-blur-top
    z-index: 5
    top: 7rem

.cards
  position: absolute
  min-width: calc(100% - 2rem)
  animation: pageAnimation 1s linear
.cardsAnimate
  position: absolute
  width: calc(100% - 2rem)
  animation: pageAnimation2 1s linear

@keyframes pageAnimation 
  @include variables.pageAnimationOut
@keyframes pageAnimation2 
  @include variables.pageAnimationOut

.cardConteiner
  font-size: 0.8rem
  min-width: calc(100% - 2rem)
  display: flex
  gap: 0.5rem
  align-items: flex-end
  justify-content: space-between
  background: variables.$dark-blue
  margin: 1rem
  padding-block: 1.2rem
  padding-inline: 0.3rem
  border-radius: 10px
  box-shadow: inset 1px 1px 20px variables.$shadow-grain
  & .company
    font-weight: 700
  & .color
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-end
    & .percent
      @include variables.pos-neg($pos: true)
    & .percentNeg
      @include variables.pos-neg($pos: false)
      

@keyframes nameAnimationOff
  @include variables.keyAnimation($on: true)
@keyframes nameAnimationIn
  @include variables.keyAnimation($on: false)
  
.gameContainer
  width: calc(100vw - 3rem)
  height: 75vh
  padding: 1rem 0

.gameProfile
  @include variables.Indexprofile
  overflow: hidden
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-end
  padding: 1.5rem
  box-shadow: 2px 0 20px 3px variables.$shadow-grain
  & .question
    font-size: 1.3rem
    color: variables.$lighter-blue
    padding: 0.5rem 1rem
    background: variables.$gradient-screen
    border-radius: 10px
    margin-block: 1rem
  & .respostas
    display: flex
    & select
      max-width: 100%
      border-radius: 10px
      background: variables.$dark-blue
      padding: 0.5rem 1rem
      height: 100px
      overflow-y: auto
      white-space: pre-wrap
      & option
        max-width: 100%
        display: grid
        place-content: center
        white-space: pre-wrap
        height: 100px
        overflow-y: auto

