@mixin flex-center
  display: flex
  justify-content: center
  align-items: center
  
$gradient-screen: linear-gradient(to bottom, #46337A, #0097c1b6 )
$light-blue: #0097c1b6
$lighter-blue: #C8FCEA
$secondary-neutral: #6864AF
$dark-blue: #33357A