@mixin flex-center
  display: flex
  justify-content: center
  align-items: center

@mixin blur($h)
  position: absolute
  left: 0.8rem
  width: 85%
  height: $h

@mixin Indexprofile
  position: absolute
  top: 0
  left: 0
  border-radius: 0 0 15px 15px
  background: $secondary-neutral
  width: 100vw  

@mixin functionBtn($n)
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  & p
    position: absolute
    @if($n == 'nameAnimationOff')
      opacity: 1
      bottom: -2ch
    @else 
      opacity: 0
      bottom: 0
    font-size: 0.8rem
    animation: $n 500ms ease-in-out

@mixin pos-neg($pos)
  @if($pos)
    color: $positive-account
  @else
    color: $negative-account
  
@mixin keyAnimation($on: true)
  @if($on == true)
    0%
      opacity: 0
      bottom: 0 
    100%
      opacity: 1
      bottom: -2ch
  @else 
    0%
      opacity: 1
      bottom: -2ch
    100%
      opacity: 0
      bottom: 0

@mixin pageAnimationOut
  0%, 100%
    left: 0
  50%
    left: -120%

$gradient-screen: linear-gradient(to bottom, #46337A, #0097c1b6 )
$gradient-blur: linear-gradient(to bottom, #ffffff00, #ffffff00, #6864AF 95%)
$gradient-blur-top: linear-gradient(to top, #ffffff00, #ffffff00, #6864AF 80%)
$light-blue: #0097c1b6
$lighter-blue: #C8FCEA
$secondary-neutral: #6864AF
$dark-blue: #33357A
$shadow-grain: #1a1b41ce
$positive-account: #3cc22a
$negative-account: #c22a2a
